.container {
  background-repeat: no-repeat;
}

.cardsCont {
  display: contents;
  width: 20%;
}

.singleCard {
  display: inline-block;
  width: 27%;
  height: 225%;
  min-width: 200px;
  margin: 3%;
}
