.containMaster{
  
    display: flex;
    /* position: fixed;  */
    width: 100vw;
    height: 55px;
    z-index: 99;
    margin: 0;   
    top: 0;
    /* padding:0 20%; */
    justify-content: center;
  }

  .contain{

    background-color: #F8C471;
    /* align-items: center; */
    display:flex;
    /* flex-direction: row;  */
    /* z-index: 99; */
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin-top: 4em;
  }

  .form{
  
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    color: black;
    /* margin-left: 30px ; */
  }
  
  .description{
    display: flex;
  }
  